/* div{
    display:flex;
    flex-direction: row;
} */
/* .rows {
    background-color: #F8FBFD;
    margin-bottom: 9px;
    border-radius: 5px;
}

.rows p{
    font-weight: 700;
    font-size: 1.5em;
} */
